body {
  padding: 0%;
  margin: 0%;
  font: 14px Calibri;
  margin: 10px 1% 0px 1%;
  background-color: #e1e4e8;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
}

.banner {
  background-color: #6eb7d8;
  padding: 10px;
  margin: 0;
  border: 1px solid white;
  text-align: center;
  display: flex;
}

.title {
  text-align: left;
  width: 75%;
}

.title > div {
  display: inline-block;
}

.underline {
  background-color: #ff9999;
  height: 5px;
}

.menu {
  width: 25%;
}

.width {
  width: 1000px;
}

.height {
  height: 600px;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.center {
  background-color: #6eb7d8;
  padding: 10px;
  text-align: left;
  font: 18px Calibri;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
}

.selector {
  margin: 0px 10px 0px 0px;
  list-style-type: none;
  padding-left: 0;
}
.selector button {
  width: 100%;
}

.button {
  color: inherit;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3 {
  background-color: #ff9999;
  color: white;
  border: 1px solid white;
}

.button3:hover {
  background-color: white;
  color: #ff9999;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
